<#--
 объявляем макро-функцию используя которую мы создадим шаблон страницы
 https://freemarker.apache.org/docs/dgui_misc_userdefdir.html
 -->
<#macro renderWith title="Artstore" scripts=[] styles=[]>
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>${title}</title>
        <link rel="stylesheet" href="/css/main.css">
        <#list styles as styleSource>
            <link rel="stylesheet" href="${styleSource}">
        </#list>
    </head>
    <header class="header">
        <nav class="navbar">
            <div class="user-links">
            <a href="/cart"><img class="cart-icon" src="/images/cart-icon.png" alt="cart-icon"></a>
            <a href="/register"><p>Register</p></a>
            <a href="/login"><p>Login</p></a>
            <a href="/profile"><p>Profile</p></a>
            </div>
            <h1 class = "text-uppercase">ARTSTORE</h1>
            <div class="category-links">
                <a href="/"><p>Artworks</p></a>
                <a href="/artists"><p>Artists</p></a>
                <a href="/tools"><p>Tools</p></a>
                <a href="/paints"><p>Paints</p></a>
                <a href="/canvases"><p>Canvases</p></a>
            </div>
        </nav>
    </header>
    <body>
    <div class="container">
        <#--
         элемент nested указывает что в этом место
         будет подставлено некоторое содержимое,
         которое передаётся как тело макро-функции при её вызове
        -->
        <#nested>

    </div>

    <#list scripts as scriptSource>
        <script src="${scriptSource}"></script>
    </#list>

    </body>
    </html>

</#macro>